@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(16, 13, 40);
}
p {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
h1 {
  color: rgb(196, 132, 241);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
h3 {
  color: rgb(196, 132, 241);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}
h4 {
  color: rgb(117, 58, 237);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
a {
  color: rgb(196, 132, 241);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-left: 25px;
}
hr {
  border-color: rgb(196, 132, 241);
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
}
a:hover {
  color: white;
  transition: 0.3s all;
}
#imgs {
  border-radius: 30%;
  padding: 90px;
  overflow: hidden;
  width: 300px;
}
#logo {
  text-align: center;
}
td {
  text-align: center;
}

th {
  color: rgb(196, 132, 241);
  font-size: 30px;
}
section {
  background-color: rgb(117, 58, 237);
  border-radius: 20px;
  max-width: 200px;
  margin: auto;
  padding: 12px;
}
table {
  font-family: "Roboto", sans-serif;
  margin-left: 190px;
}
#footer_content {
  background-color: rgb(23, 18, 61);
}
#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(23, 18, 61);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  color: white;
}
#input_group {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  border-radius: 4px;
}
#input_group {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  margin-left: 820px;
}
#input_group button {
  border: none;
  color: white;
  border-radius: 4px;
  background-color: rgb(196, 132, 241);
}
